[Unit]
Description=openldap-opencensus-stats
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
EnvironmentFile=-/etc/sysconfig/openldap-opencensus-stats
ExecStart=/usr/local/bin/openldap_opencensus_stats /etc/openldap-opencensus-stats.yml

[Install]
WantedBy=multi-user.target
